#map {
  height: 800px;
}

#control {
  float: right;
  width: 15em;
  padding: 1em;
}

.datepicker {
  width: 8em;
  float: right;
}

body {
  margin: 0;
  padding: 0;
}

#summary div p {
  padding: 0;
  margin: 0;
}
